<footer class="pt-4 pt-md-5 border-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="assets/img/logonav.png" alt="" width="240px" height="auto">
        <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Estrutura</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Equipamentos</a></li>
          <li><a class="text-muted" href="#">Tecnologia</a></li>
          <li><a class="text-muted" href="#">Treinamento</a></li>
          <li><a class="text-muted" href="#">Serviços Adicionais</a></li>
          <li><a class="text-muted" href="#">Canais de Distribuição</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Sobre</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Idealizadores</a></li>
          <li><a class="text-muted" href="#">Endereço</a></li>
          <li><a class="text-muted" href="#">Política de Segurança</a></li>
          <li><a class="text-muted" href="#">Termos e Condições</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
